<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PetLandia</title>
    
    <!-- Links -->
    <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>

        <div class="main-header-top-bar">
            <img src="/images/PetLandia-V3 (1).png" alt="logo-PetLandia" class="logo">

            <form action="" method="post" class="main-search">
                <input class="search-bar" type="search" name="" placeholder="   Buscar">
                <button class="button-search-bar" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
            </form>

            <nav class="main-top-bar">
                <ul>
                    <li><a href="#">LogIn</a></li>
                    <li>/</li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>

        <nav class="main-bottom-bar">
            <ul class="nav-menu">
                <li><a href="#">Mascotas <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul> 
                </li>
                <li><a href="#">Productos <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul> 
                </li>
                <li><a href="#">Marcas <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul> 
                </li>
                <li><a href="#">Servicios <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul> 
                </li>
            </ul>
        </nav>

        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators mb-0">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://http2.mlstatic.com/D_NQ_684941-MLA69724614122_052023-OO.webp" class="d-block w-100" alt="...">
              </div>
                <div class="carousel-item">
                    <img src="https://http2.mlstatic.com/D_NQ_617583-MLA69889488839_062023-OO.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://http2.mlstatic.com/D_NQ_952815-MLA69858572040_062023-OO.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="header-info">
            <div class="info-container">
                <i class="fa-solid fa-credit-card icons"></i>
                <div>
                    <h2>Elegí cómo pagar</h2>
                    <p>Podés pagar con credito, débito en hasta 12 cuotas sin intereses.</p>
                </div>
            </div>
            <div class="info-container">
                <i class="fa-solid fa-truck-fast icons"></i>
                <div>
                    <h2>Envío gratis desde $ 3.000</h2>
                    <p>En PetLandia tenés envíos gratis en miles de productos.</p>
                </div>
            </div>
            <div class="info-container">
                <i class="fa-solid fa-shield-dog icons"></i>
                <div>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En PetLandia, estás siempre protegido.</p>
                </div>
            </div>     
        </div>

    </header>

    <main>

    </main>

    <footer>

    </footer>

<!-- Links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>