<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PetLandia</title>

  <!-- Links -->
  <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/producto.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

  <header>
    <!--Menu superior-->
    <div class="main-header-top-bar">
        <img src="/images/PetLandia-V3 (1).png" alt="logo-PetLandia" class="logo">

        <form action="" method="post" class="main-search">
            <input class="search-bar" type="search" name="" placeholder="   Buscar">
            <button class="button-search-bar" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>

        <div class="hamburger-button">
            <label for="btn-nav" class="btn-nav"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="btn-nav">
            
            <nav class="nav-right-menu">
              <ul class="navigation">
                <li><a href=""><i class="fa-solid fa-user"></i> Ingresar</a></li>
                <li><a href=""><i class="fa-regular fa-user"></i> Registrate</a></li>
                <li><a href=""><i class="fa-solid fa-star"></i> Favoritos</a></li>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i> Carro</a></li>
              </ul>
            </nav>
        </div>

        <nav class="main-top-bar">
            <ul>
                <li><a href="#">LogIn</a></li>
                <li>/</li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
     </div>

    <!--Menu desplegable-->
    <nav class="main-bottom-bar">
        <ul class="nav-menu">
            <li><a href="#">Mascotas <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul> 
            </li>
            <li><a href="#">Productos <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="producto.html">Juguetes</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul> 
            </li>
            <li><a href="#">Marcas <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul> 
            </li>
            <li><a href="#">Servicios <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul> 
            </li>
        </ul>
    </nav>
</header>
<div class="producto">
    <h2 class="titulo">Pelota anti stress para perros</h2>
    <h2 class="titulo">$2.000</h2>
    <div class="contenedor1">
      <label for="Cantidad">Cantidad:</label>
      <input type="number" id="Cantidad" name="Cantidad" min="1" max="10"> 
    </div>
    <div class="contenedor2">
      <i class="fa-solid fa-truck truck"></i>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>  
    <img class="juguete" src="/images/perrojuguete1.jpg" alt="tu imagen de perfil">
    <p class="parrafo">Si nuestra mascota siente ansiedad cuando salimos por la puerta, o se aburre en casa solo, podemos recurrir a juguetes especialmente
    diseñados para tenerlos entretenidos durante horas. Pruébalos antes con tu animal de compañía y comprueba que de verdad se divierte.</p>
</div>
    <footer>
  <div class="all-footer">
      <div class="footer-info-one">
          <h2>Sobre nosotros</h2>
          <ul>
              <li><a href="">¿Quienes somos?</a></li>
              <li><a href="">Informacion util</a></li>
              <li><a href="">Soporte</a></li>
          </ul>
      </div>
      <div class="footer-info-two">
          <h2>Redes</h2>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
      </div>
      <div class="footer-info-three">
          <h2>Contacto</h2>
          <ul>
              <li><i class="fa-solid fa-phone"></i><a href="">11-7878-2354</a></li>
              <li><i class="fa-solid fa-envelope"></i><a href="">info@petlandia.com.ar</a></li>
          </ul>
      </div>
  </div>
</footer>
  
</body>
</html>