<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/styles.css">
    <title>Document</title>
</head>
<!--menu arriba-->
<div class="main-header-top-bar">
  <img src="/images/PetLandia-V3 (1).png" alt="logo-PetLandia" class="logo">

  <form action="" method="post" class="main-search">
      <input class="search-bar" type="search" name="" placeholder="   Buscar">
      <button class="button-search-bar" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
  </form>

  <nav class="main-top-bar">
      <ul>
          <li><a href="#">LogIn</a></li>
          <li>/</li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
  </nav>
</div>
<!--menu arriba-->
<body>
  <h2>Pelota anti stress para perros</h2>
  <h2>$2.000</h2>
  <div class="contenedor1">
    <label for="Cantidad">Cantidad:</label>
    <input type="number" id="Cantidad" name="Cantidad" min="1" max="10"> 
  </div>
  <div class="contenedor2">
    <i class="fa-solid fa-truck truck"></i>
    <i class="fa-solid fa-cart-shopping"></i>
  </div>  
  <br>
  <img class="juguete" src="/images/perrojuguete1.jpg" alt="tu imagen de perfil">
  <br>
  <p>Si nuestra mascota siente ansiedad cuando salimos por la puerta,</p>
  <p>o se aburre en casa solo, podemos recurrir a juguetes especialmente</p>
  <p>diseñados para tenerlos entretenidos durante horas. Pruébalos antes</p>
  <p>con tu animal de compañía y comprueba que de verdad se divierte.</p>
</body>
</html>
