html, body{
    height: 100%;
    position: relative;
}

.info-bar{
    background-color: rgb(212, 194, 174);
    width: 90%;
    max-width: 1000px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.info-bar p{
    font-size: 14px;
    width: 33%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.apart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    text-align: end;
}

.apart p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-list{
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    height: 120px;
    width: 90%;
    max-width: 1000px;
    background-color: rgba(212, 194, 174, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
}

.info-product{
    width: 33%;
}

.info-product img{
    width: 100px;
    height: 100px;
}

.info-product h2{
    display: none;
}

.info-product p{
    display: none;
}

.quantity{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: end;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.subtotal{
    margin: 0;
    padding: 0;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.line{
    background-color: #75362d;
    width: 90%;
    max-width: 1000px;
    height: 5px;
    margin: auto;
    margin-top: 20px;
}

.price-list{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.list-container{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.list-container p{
    margin: 0;
    padding: 0;
    margin: 15px;
}

.price-name{
    width: 50%;
}

.price{
    width: 50%;
    text-align: end;
}

.all-footer{
    position: absolute;
    width: 100%;
}

@media (min-width: 800px){
    .info-product{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .second-list{
        display: flex;
        flex-direction: column;
    }

    .second-list a{
        text-decoration: none;
        color: black;
    }

    .info-product h2{
        display: block;
        font-size: 16px;
        margin-left: 10px;
    }
    
    .info-product p{
        display: block;
        font-size: 14px;
        margin-left: 10px;
    }
}