main{
    min-height: 680px;
}

.info-bar{
    background-color: rgb(212, 194, 174);
    width: 90%;
    max-width: 1000px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.info-bar p{
    font-size: 14px;
    width: 33%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.apart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 40%;
    text-align: end;
}

.apart p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Estilos para el contenedor de la lista de productos */
.product-list {
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column; /* Cambiamos a columna para mostrar productos uno debajo del otro */
    align-items: center;
    justify-content: center; /* Alineamos verticalmente al centro */
}

/* Estilos para cada producto en la lista */
.product-list .info-product {
    width: 100%; /* Ancho del producto */
    margin: 10px 0; /* Margen entre productos */
    display: flex;
    flex-direction: row; /* Volvemos a fila para organizar elementos del producto */
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Espaciado interior */
    background-color: rgba(212, 194, 174, 0.3);
    border-radius: 5px;
}

/* Estilos para la imagen del producto */
.product-list .info-product img {
    width: 100px;
    height: 100px;
}

/* Estilos para el nombre del producto */
.product-list .info-product h2 {
    display: none;
}

/* Estilos para el precio del producto */
.product-list .info-product p {
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

/* Agrega estilos para la cantidad de productos en el carrito */
.info-product-cantidad {
    padding-right: 35px;
    width: 35%;

}

.eliminar-producto{
    color: red;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 40%;
}

.line{
    background-color: #75362d;
    width: 90%;
    max-width: 1000px;
    height: 5px;
    margin: auto;
    margin-top: 20px;
}

.price-list{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.list-container{
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.list-container p{
    margin: 0;
    padding: 0;
    margin: 15px 0;
}

.price-name{
    width: 50%;
}

.price{
    width: 50%;
    text-align: end;
}

.delete{
    height: 100%;
}

.delete p{
    margin: 0;
    padding: 0;
    color: red;
}

.fin-buttons{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.buy{
    width: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: #ac8464;
    border-radius: 8px;
    padding: 7px;
}

.clear{
    width: 150px;
    margin-bottom: 30px;
    border: none;
    background-color: #d4c2ae;
    border-radius: 8px;
    padding: 7px;
}

@media (min-width: 800px){
    .product-list .info-product h2 {
        display: block;
        font-size: 14px;
        margin: 0;
        width: 33%;
        position: relative;
        left: 50px;
    }

    .info-product-cantidad {
        width: 33%;
        justify-content: flex-end !important;
    }

    .info-product-price{
        width: 33%;
        justify-content: flex-end !important;
    }

    .eliminar-producto{
        color: red;
        background-color: transparent;
        border: none;
        position: relative;
        left: 50px;
    }

}