body, html{
    height: 100%;
}

.main-bottom-bar{
    display: none;
}

.chart-ubi{
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-chart{
    width: 90%;
    max-width: 700px;
    height: 500px;
    background-color: rgba(212, 194, 174, 0.5);
    border-radius: 8px;
}

.up-chart{
    height: 130px;
    width: 100%;
    background-color: #d4bca4;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-chart h2{
    font-size: 35px;
}

.login-container{
    height: 370px;
}

.login-form{
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.user{
    height: 100%;
}

.user, .pass{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 30px;
}

.user input, .pass input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    margin-top: 5px;
}

.pass-remind{
    align-self: flex-start;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.down-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.down-chart button{
    font-size: 20px;
    border: none;
    background-color: #d4bca4;
    border-radius: 8px;
    width: 100%;
    padding: 7px;
}

.down-chart a{
    text-decoration: none;
    color: #ac8464;
    font-size: 18px;
    margin-top: 5px;
}

.color-alert{
    color: red;
    font-size: 14px;
}