*{
    box-sizing: border-box;
}

/* Esto pertenece a la primer navbar donde se encuentra el logo, la search bar y el carrito con el login y el registo etc */
.main-header-top-bar{
    background-color: #ac8464;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    border-radius: 8px;
}

.search-bar{
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 30px;
    color: black;
    background-color: #d4bca4;
}

.button-search-bar{
    background: none;
    border: none;
    border-radius: 100%;
    background-color: #d4bca4;
    color: white;
    width: 30px;
    height: 30px;
    margin: auto;
}

.main-top-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-top-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    font-size: 15px;
    margin: 0 5px 0 5px;
}

/* Esto pertenece al segundo navbar donde se encuentra el menu desplegable al cual luego hay que asignarle las opciones */
.main-bottom-bar{
    width: 100%;
    margin: auto;
    background-color: #75362d;
}

.main-bottom-bar ul{
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

.main-bottom-bar > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-menu > li{
    position: relative;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.nav-menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #d4bca4;
    text-decoration: none;
}

.nav-submenu{
    position: absolute;
    background-color: #75362d;
    width: 100%;
    display: none;
    z-index: 5;
}

.nav-submenu li a{
    display: block;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
    color: #d4bca4;
    text-align: left;
}

.nav-menu li:hover .nav-submenu{
    display: block;
}

/* Esto pertenece al carrusel, es una mini modificacion de estilo porque esta hecho con boostrap */
.carousel-mods{
    margin: 0;
    top: 0;
}

/* Esto pertenece al recuadro de informacion que se encuentra abajo del carrusel */
.header-info{
    width: 100%;
    margin-top: 5px;
    background-color: #d4c2ae;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons{
    font-size: 50px;
    margin-right: 15px;
}

.info-container{
    width: 33%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-container h2{
    font-size: 14px;
    margin-bottom: 3px;
}

.info-container p{
    font-size: 11px;
    margin: 0;
}

/* Esto pertenece al main, donde se van a encontrar todos los productos y lo referenciado a eso */
main{
    margin-top: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.titles{
    text-align: left;
    font-weight: 500;
    font-style: italic;
    margin: 15px 0 0 10px;
}

.all-products{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.product{
    padding: 15px;
    border: solid 1px #ebebeb;
    border-radius: 8px;
    margin: 10px;
    position: relative;
}

.truck{
    left: 23px;
    bottom: 160px;
    color: green;
}

.price-discount{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-price{
    font-size: 18px;
    margin-bottom: 2px;
    margin-right: 15px;
}

.product-discount{
    font-size: 12px;
    color: green;
    margin: 0;
}

.product img{
    width: 100%;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.product h2{
    text-align: left;
    font-size: 18px;
    margin: 0;
    font-weight: 100;
}

.product:hover{
    box-shadow: 0px 0px 10px #646464;
}

.product h2{
    visibility: hidden;
}

.product:hover h2{
    visibility: visible;
    text-align: left;
    font-size: 18px;
    margin: 0;
    font-weight: 100;
}

.all-pets{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0px 0px 5px;
}

.animal-circle{
    position: relative;
    margin: 0px 10px 0px 10px;
}

.animal-circle img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.animal-circle h2{
    display: none;
}

.animal-circle:hover h2{
    display: block;
    position: absolute;
    font-size: 18px;
    width: 100%;
    background-color: #d4c2ae;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: 0;
    text-align: center;
    padding-top: 50%;
    color: white;
}

.all-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center, flex-start;
    background-color: #ac8464;
    margin-top: 10px;
}

.footer-info-three ul, .footer-info-one ul{
    list-style: none;
    padding-left: 0;
}

.footer-info-three a, .footer-info-one a{
    text-decoration: none;
    color: black;
}

.footer-info-two{
    text-align: center;
}

.footer-info-two i{
    margin: 10px;
}

.footer-info-three i{
    margin-right: 10px;
}

.whatsapp-icon{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
}

.whatsapp-icon i{
    font-size: 40px;    
    color: white;
    background-color: #25D366;
    padding: 10px;
    border-radius: 100%;
}