*{
    box-sizing: border-box;
}

/* Esto pertenece a la primer navbar donde se encuentra el logo, la search bar y el carrito con el login y el registo etc */
.main-header-top-bar{
    background-color: #ac8464;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
}

.search-bar{
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 30px;
    color: black;
    background-color: #d4bca4;
}

.button-search-bar{
    background: none;
    border: none;
    border-radius: 100%;
    background-color: #d4bca4;
    color: white;
    width: 30px;
    height: 30px;
    margin: auto;
}

/*Menu desplegable del costado*/
.nav-right-menu{
    position: absolute;
    right:0;
    width: 50%;
    top: 64px;
    height: 100%;
    z-index: 10;
    background-color:#ac8464;
    transform:translateX(100%);
    transition:.4s ease;
    display: none;
  }
  
.navigation li{
    list-style:none;
    width: 100%;
  }
  
.navigation a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration:none;
  }
  
#btn-nav{
    display: none;
  }
  
#btn-nav:checked ~ .nav-right-menu{
    transform:translateX(0);
    display: block;
  }
  
.btn-nav{
    color:white;
    font-size:30px;
    right:0;
    top:0;
    cursor:pointer;
    transition:.2s ease;
  }

/*Top bar aun no disponible, se va a ver en modo pantalla grande*/
.main-top-bar ul{
    display: none;
}

/* Esto pertenece al segundo navbar donde se encuentra el menu desplegable al cual luego hay que asignarle las opciones */
.main-bottom-bar{
    width: 100%;
    margin: auto;
    background-color: #75362d;
}

.main-bottom-bar ul{
    list-style: none;
    font-size: 10px;
    padding: 0;
    margin-bottom: 5px;
}

.main-bottom-bar > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-menu > li{
    position: relative;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.nav-menu > li > a{
    display: block;
    padding: 7px 10px;
    color: #d4bca4;
    text-decoration: none;
}

.nav-submenu{
    position: absolute;
    background-color: #75362d;
    width: 100%;
    display: none;
    z-index: 5;
}

.nav-submenu li a{
    display: block;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
    color: #d4bca4;
    text-align: left;
}

.nav-menu li:hover .nav-submenu{
    display: block;
}

/* Esto pertenece al recuadro de informacion que se encuentra abajo del carrusel */
.header-info{
    width: 100%;
    margin-top: 5px;
    background-color: #d4c2ae;
    display: flex;
    flex-direction: row;
}

.icons{
    font-size: 30px;
    margin-right: 15px;
}

.info-container{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-container h2{
    font-size: 14px;
    margin-bottom: 3px;
    display: none;
}

.info-container p{
    font-size: 11px;
    margin: 0;
    display: none;
}

/* Esto pertenece al main, donde se van a encontrar todos los productos y lo referenciado a eso */
.main-ubication{
    margin-top: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.titles{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 0;
}

.all-products{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}

.all-products a{
    text-decoration: none;
    color: black;
}

.product{
    padding: 15px;
    border: solid 1px #ebebeb;
    border-radius: 8px;
    margin: 10px;
    position: relative;
    width: 140px;
    height: 200px;

}

.truck{
    left: 23px;
    bottom: 160px;
    color: green;
    font-size: 12px;
}

.price-discount{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-price{
    font-size: 12px;
    margin-bottom: 2px;
    margin-right: 15px;
}

.product-discount{
    font-size: 8px;
    color: green;
    margin: 0;
}

.product img{
    width: 90%;
    height: 65%;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.product h2{
    text-align: left;
    font-size: 12px;
    margin: 0;
    font-weight: 100;
}

.main-animals{
    display: none;
}

.all-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ac8464;
    margin-top: 10px;
    padding: 0px 7px 0px 7px;
    bottom: 0;
}

.footer-info-one h2, .footer-info-two h2, .footer-info-three h2{
    font-size: 14px;
}

.footer-info-three{
    text-align: end;
}

.footer-info-one a, .footer-info-two a, .footer-info-three a{
    font-size: 10px;
}

.footer-info-three ul, .footer-info-one ul{
    list-style: none;
    padding-left: 0;
}

.footer-info-three a, .footer-info-one a{
    text-decoration: none;
    color: black;
}

.footer-info-two{
    text-align: center;
}

.footer-info-two i{
    margin: 5px;
    font-size: 14px;
}

.footer-info-three i{
    margin-right: 10px;
    font-size: 12px;
}

.whatsapp-icon{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
}

.whatsapp-icon i{
    font-size: 25px;    
    color: white;
    background-color: #25D366;
    padding: 10px;
    border-radius: 100%;
}