main{
    min-height: 700px;
}

.product-filters{
    display: none;
}

@media (min-width: 800px){
    .main-products-container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    
    .index-product-container{
        width: 80% !important;
        margin: 0 !important;
        align-self: flex-start;
    }
    
    .product-filters{
        display: block;
        position: relative;
        width: 30%;
        max-width: 220px;
        padding: 0px 15px 0px 15px;
    }

    .product-filters h1{
        color: #75362d;
        border-bottom: 2px solid #ac8464;
        margin-top: 0;
    }
    
    .product-filters ul{
        padding-left: 15px;
    }

    .product-filters h3{
        color: #75362d;
    }

    .product-filters ul a{
        text-decoration: none;
    }
    
    .product-filters ul li{
        list-style-type: none;
        color: grey;
    }
    
    .product-filters ul li:hover{
        color: black;
    }
}