<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>PetLandia</title>

        <link rel="icon" href="/images/huellas-de-garras.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/images/huellas-de-garras.ico" type="image/x-icon">
        
        <!-- Links -->
        <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/carrito.css">
        <link rel="stylesheet" href="/css/normalize.css"> 
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/responsive.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %> <!--include header-->

        <main>
            <div class="info-bar">
                <p>Producto</p>
                <div class="apart">
                    <p>Cantidad</p>
                    <p>Subtotal</p>
                </div>
            </div>
    
            <div class="product-list" id="id-producto"> </div>

            <div class="line"></div>

            <div class="price-list">
                <div class="list-container">
                    <p class="price-name">Subtotal</p>
                    <p class="price" id="id-subtotal"></p>
                </div>
                <div class="list-container">
                    <p class="price-name">Envio</p>
                    <p class="price" id="id-envio"></p>
                </div>
                <div class="list-container">
                    <p class="price-name">Total</p>
                    <p class="price" id="id-total"></p>
                </div>
            </div>

            <div class="fin-buttons">
                <button class="buy" type="submit" id="btnFinalizarVenta">Finalizar compra</button>
                <button class="clear" type="reset" id="btnVaciarCarrito">Vaciar carrito</button>
            </div>

            <% if(locals.logeado){ %>
                <input type="hidden" name="userId" id="userId" value="<%= locals.usuarioLogeado.id %>">
                <%= console.log(locals.usuarioLogeado.id); %>
            <% } %>
        </main>

        <%- include('./partials/footer.ejs') %> <!-- include footer -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/verCarrito.js"></script>
        <script src="/js/finalizarVenta.js"></script>
    </body>
</html>