<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PetLandia</title>

    <!-- Links -->
    <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>
    <header>

        <!--Menu superior-->
        <div class="main-header-top-bar">
            <img src="/images/PetLandia-V3 (1).png" alt="logo-PetLandia" class="logo">

            <form action="" method="post" class="main-search">
                <input class="search-bar" type="search" name="" placeholder="   Buscar">
                <button class="button-search-bar" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
            </form>

            <nav class="main-top-bar">
                <ul>
                    <li><a href="#">LogIn</a></li>
                    <li>/</li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>

        <!--Menu desplegable-->
        <nav class="main-bottom-bar">
            <ul class="nav-menu">
                <li><a href="#">Mascotas <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul>
                </li>
                <li><a href="#">Productos <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul>
                </li>
                <li><a href="#">Marcas <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul>
                </li>
                <li><a href="#">Servicios <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                        <li><a href="#">Servicio #3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section class="titulo">
            <h2>RESUMEN DE TU CARRITO</h2></li><i class="fa-solid fa-cart-shopping"></i>
        </section>
        
        
        <div class="container1">
        <div class="producto">
            <img src="https://puppiscolombia.vteximg.com.br/arquivos/ids/168949-1000-1000/1392003-1.png?v=637408285546370000" alt="nombre del producto">
            <h3>Alimento crudo para perro</h3>
            <p>Precio: $XX.XX</p>
            <br>
            <select class="cantidad">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br>
        </br>
            <p>Subtotal: $XX.XX</p>
        </div>

        <br>
    </br>

            <div class="subtotal">
                <span>SUBTOTAL</span>
                <span>$--------------</span>
            </div>

            <div class="shipping">
                <span>ENVIO</span>
                <span>$--------------</span>
            </div>

            <div class="total">
                <span>TOTAL</span>
                <span>$--------------</span>
            </div>

            <br>
        </br>


            <button class="finalizar-btn">Finalizar compra</button>