<footer>
    <div class="all-footer">
        <div class="footer-info-one">
            <h2>Sobre nosotros</h2>
            <ul>
                <li><a href="">¿Quienes somos?</a></li>
                <li><a href="">Informacion util</a></li>
                <li><a href="">Soporte</a></li>
            </ul>
        </div>
        <div class="footer-info-two">
            <h2>Redes</h2>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="footer-info-three">
            <h2>Contacto</h2>
            <ul>
                <li><i class="fa-solid fa-phone"></i><a href="">11-7878-2354</a></li>
                <li><i class="fa-solid fa-envelope"></i><a href="">info@petlandia.com.ar</a></li>
            </ul>
        </div>
    </div>
</footer>