<header>
    <!--Menu superior-->
    <div class="main-header-top-bar">
        <img src="/images/PetLandia-V3 (1).png" alt="logo-PetLandia" class="logo">

        <form action="" method="post" class="main-search">
            <input class="search-bar" type="search" name="" placeholder="   Buscar">
            <button class="button-search-bar" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>

        <div class="hamburger-button">
            <label for="btn-nav" class="btn-nav"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="btn-nav">

            <nav class="nav-right-menu">
                <ul class="navigation">
                    <li><a href="/usuario/login"><i class="fa-solid fa-user"></i> Ingresar</a></li>
                    <li><a href="/usuario/register"><i class="fa-regular fa-user"></i> Registrate</a></li>
                    <li><a href=""><i class="fa-solid fa-star"></i> Favoritos</a></li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i> Carro</a></li>
                </ul>
            </nav>
        </div>

        <nav class="main-top-bar">
            <ul>
                <li><a href="/usuario/login">LogIn</a></li>
                <li>/</li>
                <li><a href="/usuario/register">Sign up</a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>

    <!--Menu desplegable-->
    <nav class="main-bottom-bar">
        <ul class="nav-menu">
            <li><a href="#">Mascotas <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
            <li><a href="#">Productos <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Juguetes</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
            <li><a href="#">Marcas <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
            <li><a href="#">Servicios <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>