<main>
    <!--Seccion Ofertas-->
    <div>
        <h2 class="titles">Ofertas imperdibles</h2>
        <div class="all-products">
            <a href="/producto">
                <article class="product">
                    <img src="https://puppis.vteximg.com.br/arquivos/ids/167602-1000-1000/150042.jpg?v=637021774610770000"
                        alt="">
                    <i class="fa-solid fa-truck truck"></i>
                    <div class="price-discount">
                        <p class="product-price">$ 16.190</p>
                        <p class="product-discount">10% OFF</p>
                    </div>
                    <h2>Alimento Excellent - 20kg</h2>
                </article>
            </a>
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/179808-1000-1000/7613287031051_1.png?v=637570861371300000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 20.600</p>
                    <p class="product-discount"></p>
                </div>
                <h2>Alimento Pro Plan - 15kg</h2>
            </article>
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/190297-1000-1000/156154.jpg?v=638028352034700000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 22.050</p>
                    <p class="product-discount"></p>
                </div>
                <h2>Alimento Royal Canin - 15kg</h2>
            </article>
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/186507-1000-1000/148052.jpg?v=637871009908500000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 12.685</p>
                    <p class="product-discount">15% OFF</p>
                </div>
                <h2>Alimento Old Prince - 15+3kg</h2>
            </article>
        </div>
    </div>

    <!--Seccion Destacados-->
    <div>
        <h2 class="titles">Productos destacados</h2>
        <div class="all-products">
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/167602-1000-1000/150042.jpg?v=637021774610770000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 16.190</p>
                    <p class="product-discount">10% OFF</p>
                </div>
                <h2>Alimento Excellent - 20kg</h2>
            </article>
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/179808-1000-1000/7613287031051_1.png?v=637570861371300000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 20.600</p>
                    <p class="product-discount"></p>
                </div>
                <h2>Alimento Pro Plan - 15kg</h2>
            </article>
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/190297-1000-1000/156154.jpg?v=638028352034700000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 22.050</p>
                    <p class="product-discount"></p>
                </div>
                <h2>Alimento Royal Canin - 15kg</h2>
            </article>
            <article class="product">
                <img src="https://puppis.vteximg.com.br/arquivos/ids/186507-1000-1000/148052.jpg?v=637871009908500000"
                    alt="">
                <i class="fa-solid fa-truck truck"></i>
                <div class="price-discount">
                    <p class="product-price">$ 12.685</p>
                    <p class="product-discount">15% OFF</p>
                </div>
                <h2>Alimento Old Prince - 15+3kg</h2>
            </article>
        </div>
    </div>

    <!--Filtro por animales-->
    <div class="main-animals">
        <h2 class="titles animals">Productos para cada mascota</h2>
        <div class="all-pets">
            <div class="animal-circle">
                <a href="#">
                    <img src="https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg"
                        alt="">
                    <h2>Perro</h2>
                </a>
            </div>
            <div class="animal-circle">
                <a href="#">
                    <img src="https://okdiario.com/img/2022/10/18/los-gatos-pueden-ver-en-color-1-655x368.jpg"
                        alt="">
                    <h2>Gato</h2>
                </a>
            </div>
            <div class="animal-circle">
                <a href="#">
                    <img src="https://imagenes.muyinteresante.es/files/image_620_410/uploads/2022/10/12/6346a346987e1.jpeg"
                        alt="">
                    <h2>Roedores</h2>
                </a>
            </div>
            <div class="animal-circle">
                <a href="#">
                    <img src="https://humanidades.com/wp-content/uploads/2017/03/pajaro-azul-e1563758291533.jpg"
                        alt="">
                    <h2>Aves</h2>
                </a>
            </div>
            <div class="animal-circle">
                <a href="#">
                    <img src="https://www.fundacionaquae.org/wp-content/uploads/2019/09/pez.jpg" alt="">
                    <h2>Peces</h2>
                </a>
            </div>
        </div>
    </div>

</main>